.iguana-green { color: #5FBF7F; }
.bg-iguana-green { background-color: #5FBF7F; }
.b--iguana-green { border-color: #5FBF7F; }

.hover-iguana-green:hover,
.hover-iguana-green:focus { color: #5FBF7F; }

.hover-bg-iguana-green:hover,
.hover-bg-iguana-green:focus { background-color: #5FBF7F; }

.dark-liver { color: #503F2F; }
.bg-dark-liver { background-color: #503F2F; }
.b--dark-liver { border-color: #503F2F; }

.hover-dark-liver:hover,
.hover-dark-liver:focus { color: #503F2F; }

.hover-bg-dark-liver:hover,
.hover-bg-dark-liver:focus { background-color: #503F2F; }

.candy-apple { color: #DF0F2F; }
.bg-candy-apple { background-color: #DF0F2F; }
.b--candy-apple { border-color: #DF0F2F; }

.hover-candy-apple:hover,
.hover-candy-apple:focus { color: #DF0F2F; }

.hover-bg-candy-apple:hover,
.hover-bg-candy-apple:focus { background-color: #DF0F2F; }

.jet { color: #2F2F2F; }
.bg-jet { background-color: #2F2F2F; }
.b--jet { border-color: #2F2F2F; }

.hover-jet:hover,
.hover-jet:focus { color: #2F2F2F; }

.hover-bg-jet:hover,
.hover-bg-jet:focus { background-color: #2F2F2F; }


.self-justify-start { justify-self: start; }
.self-justify-end { justify-self: end; }
.self-justify-center { justify-self: center; }
.self-justify-stretch { justify-self: stretch; }

.rot-45 { transform: rotate(45deg); }

.ReactModal__Content {
  transition: all 400ms ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(30px);
}
